<meta charset="utf-8" /> <!-- Charset is first. -->
<title>{{Title}}</title>

<meta name="author" content="{{CompanyName}}">
<meta name="Copyright" content="Copyright {{Year}}. All Rights Reserved.">


<meta name="apple-mobile-web-app-capable" content="yes"> <!-- Sets the style of the status bar for a web application. -->
<meta name="format-detection" content="telephone=no"> <!-- Disables automatic detection of possible phone numbers -->
<meta name = "viewport" content = "initial-scale = 1.0, user-scalable = no"> <!-- Set the initial scale 1 and to turn off user scaling -->


<meta http-equiv="cleartype" content="on">


<link rel="stylesheet" type="text/css" href="assets/style.css" /> <!-- Compressed Stylesheet -->
<script type="text/javascript" src="js/all.js"></script> <!-- Compressed Javascript -->